<div class="contact_organisme js-scroll fade-in-bottom">
    <div class="flexOne bot_contact">
        <div>
            CONTACT
        </div>
        <div>
            Pour toute demande de renseignements, n'hésitez pas à <a href="/contact"> <strong><u id="page_contact">nous contacter</u></strong></a>
        </div>
    </div>
</div>