<div class="js-scroll fade-in-bottom container-xl container-md">
    <div class="my-5">
        <div class="flexOne text-center d-flex flex-column p-3 bg-blueColor color-whiteC">
            <div>
                <h2>CONTACT</h2>
            </div>
            <div>
                <p>
                    Pour toute demande de renseignements, n'hésitez pas à <a href="{{ path('contact') }}" class="color-whiteC"> <strong>nous contacter</strong></a>
                </p>
            </div>
        </div>
    </div>

</div>