<div class="contact_organisme js-scroll fade-in-bottom">
    <div class="flexOne organisme">
        <div class="organisme_texte">
            Notre organisme est agréé <br> au titre de l'article L. 3332-1-1 <br> du Code de la santé publique <br> par un arrêté préfectoral N°2021-03-BPPA. <br> <a href="/documents/AP_N°_2021-03-BPPA_d'agrement_dun_organisme_de_formation_Ste_PRO'PERFORM_2021-03-03.pdf#toolbar=0"><u id="arretPrefectoral_1">Arrété préfectoral</u></a> <br>
        </div>
        <div>
            <img srcset="{{ asset('img/png/prefet.png') }}" src="{{ asset('img/png/prefet.png') }}" alt="prefet" width="184" height="142">
        </div>
    </div>
    <div class="flexOne bot_contact">
        <div> CONTACT </div>
        <div>
            Pour toute demande de renseignements, n'hésitez pas à <a href="/contact"> <strong><u id="page_contact">nous contacter</u></strong></a>
        </div>
        <div>
            <em>Nous vous garantissons un délai maximum de 15 jours entre votre demande d'inscription et le début de votre formation.</em>
        </div>
    </div>
</div>