<div class="js-scroll fade-in-bottom container-xl container-md" >
    <div class="d-flex my-5 border border-5 flex-lg-row flex-column" style="border-color: var(--blue-color) !important;">
        <div class="flexOne d-flex flex-row justify-content-center align-items-center p-3">
            <div class="text-end ps-5">
                Notre organisme est agréé au titre de l'article L. 3332-1-1 du Code de la santé publique par un arrêté préfectoral N°2021-03-BPPA. <a href="/documents/AP_N°_2021-03-BPPA_d'agrement_dun_organisme_de_formation_Ste_PRO'PERFORM_2021-03-03.pdf#toolbar=0"><u id="arretPrefectoral_1">Arrété préfectoral</u></a>
            </div>
            <div>
                <img srcset="{{ asset('img/png/prefet.png') }}" src="{{ asset('img/png/prefet.png') }}" alt="prefet" width="184" height="142">
            </div>
        </div>
        <div class="flexOne text-center p-3" style="background-color: var(--blue-color); color: white">
            <div>
                <h2>CONTACT</h2>
            </div>
            <div>
                Pour toute demande de renseignements, n'hésitez pas à <a href="{{ path('contact') }}" style="color: white"> <strong><u id="page_contact">nous contacter</u></strong></a>
            </div>
            <div>
                <em>Nous vous garantissons un délai maximum de 15 jours entre votre demande d'inscription et le début de votre formation.</em>
            </div>
        </div>
    </div>
</div>