{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Formations continue des professionnels de l'immobilier
{% endblock %}

{% set descriptionPage = "Formations continues des professionnels de l’immobilier (Alur) pour renouveler vos cartes professionnelles d’agent immobilier et attestations d’habilitation d’agent commercial." %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/formation/entreprise.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formation/formation.css') }}">
{% endblock %}

{% block body %}

    <div class="enteteFormation">
        <div class="titreEntete">
            <div class="entete_1 js-scroll slide-right">
                <h1>Créer son entreprise</h1>
            </div>
        </div>
        <div class="image_top_texte js-scroll fade-in-bottom">
            <div class="textEntete">
                <p style="text-align: center">
                    <strong>Vous avez pour projet de créer ou reprendre une entreprise ?</strong>
                </p>
                <p>
                    Nos formations personnalisées sont adaptées à vos projets pour vous permettre d’assimiler toutes les informations administratives, juridiques et financières nécessaires à la création ou à la reprise d’une entreprise .
                </p>
            </div>
        </div>
    </div>
    <div style="padding: 0.5% 0">
        <div style="margin: 0 10%">
            <div class="stages_presentation js-scroll fade-in-bottom">
                <p>
                    <strong>Nous vous proposons ainsi quatre formules :</strong>
                </p>
            </div>
        </div>
    </div>
    <div>
        <div style="margin: 0 5%">
            {% include 'formation/moduleDescription.html.twig' %}
        </div>
    </div>
    {% include 'formation/contactBasSimple.html.twig' %}
{% endblock %}