<div class=" container-lg js-scroll fade-in-bottom m-auto my-3 px-2" >
    <div class="row">
        <div class="col-auto border border-2 rounded-10 m-auto border-bleuC">
            <div class="d-flex" style="margin-top: -0.7rem">
                <div class="rounded-pill m-auto text-center px-4 bg-blueC color-whiteC">LIEUX</div>
            </div>
            <div class="px-2">
                <div class="color-redC text-center">3 POSSIBILITÉS POUR CES FORMATONS :</div>
                <ul>
                    <li>dans nos locaux à Montpellier et Nîmes,</li>
                    <li>dans vos locaux,</li>
                    <li>en classe virtuelle.</li>
                </ul>
            </div>
        </div>
    </div>

</div>