<div class="lieu js-scroll fade-in-bottom">
    <div class="lieu_titre">
        LIEUX
    </div>
    <div class="lieu_emplacement">
        3 POSSIBILITÉS POUR CES FORMATONS :
        <ul>
            <li>dans nos locaux à Montpellier et Nîmes,</li>
            <li>dans vos locaux,</li>
            <li>en classe virtuelle.</li>
        </ul>
    </div>
</div>