<div class=" container-lg my-3  js-scroll fade-in-bottom" >
    <div class="w-50 border border-2 rounded-10 m-auto border-bleuC">
        <div class="d-flex" style="margin-top: -0.7rem">
            <div class="rounded-pill m-auto text-center px-4 bg-blueColor color-whiteC">LIEUX</div>
        </div>
        <div class="lieu_emplacement">
            3 POSSIBILITÉS POUR CES FORMATONS :
            <ul>
                <li>dans nos locaux à Montpellier et Nîmes,</li>
                <li>dans vos locaux,</li>
                <li>en classe virtuelle.</li>
            </ul>
        </div>
    </div>

</div>