{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Formations continue des professionnels de l'immobilier
{% endblock %}

{% set descriptionPage = "Formation de référence pour créer et gérer sa micro-entreprise rapidement. Connaître le fonctionnement de l’auto-entreprise (fiscal et social) et élaborer son projet de création." %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/formation/microEntreprise.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formation/formation.css') }}">
{% endblock %}

{% block body %}

    <div class="enteteFormation">
        <div style="display: flex; justify-content: flex-end">
            <div class="entete_1 js-scroll slide-right">
                <h1><span>Devenir</span> <span>autoentrepeneur</span></h1>
            </div>
        </div>
        <div class="image_top_texte js-scroll fade-in-bottom">
            <div>
                <p style="text-align: center">
                    <strong>Vous avez pour projet de créer une micro-entreprise ? Vous êtes déjà installé(e) et rencontrez quelques difficultés ?</strong>
                </p>
                <p>
                    Cette formation complète vous permet de maîtriser les différents statuts envisageables, les obligations administratives, les différentes aides financières, les cotisations sociales et les charges fiscales d'un auto-entrepreneur.
                </p>
                <p>
                    L'ensemble des notions spécifiques et des démarches administratives relatives à la création d'une micro-entreprise n'auront plus de secret pour vous.
                </p>
            </div>
        </div>
    </div>
    <div style="padding: 0.5% 0">
        <div style="margin: 0 10%">
            <div class="stages_presentation js-scroll fade-in-bottom">
                <p>
                    <strong>Nous vous proposons ainsi une formule : </strong>
                </p>
            </div>
        </div>
    </div>
    <div>
        {% include 'formation/moduleDescription.html.twig' %}
    </div>
    <div class="tva js-scroll fade-in-bottom">
        <em>* TVA non applicable selon Art. 261.4.4 a du CGI</em>
    </div>
    {%  include 'formation/contactBasSimple.html.twig' %}
{% endblock %}
