.choixoption{
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
}

.choixoption h1{
    font-size: 35px;
}



.pageActu{
    margin: 2% 0;
    position: relative;
}


.slider{
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
    font-size: 18px;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    transition: 2s;
    position: relative;
}

.slide img{
    width: 100%;
    height: 100%;
}

.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: 30%;
    display: flex;
    justify-content: center;
}

.navigation-manualActu{
    position: absolute;
    bottom: 0;
    left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-btn{
    border: 2px solid var(--blue-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(--blue-color);
}

#radio1:checked ~ .firstSlide{
    margin-left: 0;
}
#radio2:checked ~ .firstSlide{
    margin-left: -25%;
}
#radio3:checked ~ .firstSlide{
    margin-left: -50%;
}
#radio4:checked ~ .firstSlide{
    margin-left: -75%;
}



#radio1:checked ~ .navigation-manual .auto-btn1{
    background-color: var(--blue-color);
}

#radio2:checked ~ .navigation-manual .auto-btn2{
    background-color: var(--blue-color);
}

#radio3:checked ~ .navigation-manual .auto-btn3{
    background-color: var(--blue-color);
}

#radio4:checked ~ .navigation-manual .auto-btn4{
    background-color: var(--blue-color);
}





.contenuPage{
    display: flex;
}

.actualites{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.actualite{
    margin: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    width: 18em;

}

.actualite a{
    color: black;
    background-color: white;

    -webkit-box-shadow: 0 3px 15px rgba(0,0,0,.15);
    box-shadow: 0 3px 15px rgba(0,0,0,.15);

    border-radius: 20px;
    transition: all .4s ease-out;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.actualite a:hover{
    transform: scale(1.05);
}

.actualite .img_actu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.actualite .contenuActu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: white;
    z-index: 2;
    border-radius: 0 0 20px 20px;
}

.actualite .actu_titre{
    text-align: left;
    margin: 1% auto;
    width: 100%;
}

.actualite .actu_titre h2{
    font-size: 26px;
    line-height: 1.1em;
}

.actualite .publication{
    text-align: center;
    font-size: 15px;
    color: #909090;
    padding: 1% 0;
}

.actualite .actu_desc{
    text-align: justify;
    margin: 1%;
    font-size: 18px;
}

.lireActu{
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    border-radius: 0 0 20px 20px;
}

.actualite a:hover .lireActu{
    background-color: var(--red-color);
    color: white;
}




.numero_page{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto auto 3%;
}

.numero_page div{
    text-align: center;
    font-weight: bold;
}

.numero_page div:first-child, .numero_page div:last-child{
    cursor: pointer;
}

.acceptForm{

    margin: 1% 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
}

.acceptForm a{
    background-color: transparent;
    border: none;
    color: var(--blue-color);
}

.acceptForm a:hover{
    background-color: transparent;
    border: none;
    font-weight: normal;
}








.actualites-num{
    width: 40%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
}

.actualite-num{
    padding: 1%;
    margin: 2% 0;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.actualite-num hr{
    width: 90%;
    border: 1px solid black;
}

.actualite-num a{
    text-decoration: underline;
    color: blue;
}

.actualite-num .actu_titre{

    text-align: center;
    margin: 1% auto;
    padding: 0.5%;
    width: 90%;
    text-shadow: 0.03em 0.03em black;
}

.actualite-num .publication{
    text-align: center;

    color: #909090;
}

.actualite-num .actu_desc{

    text-align: justify;
    width: 90%;
    margin: 1% auto;
    color: black;
    text-indent: 2vw;
}

.actualite-num .actu_texte{
    width: 90%;
    margin: auto;
    color: black;
    text-align: justify;
}

.actualite-num .actu_texte p{
    background-color: transparent;
    color: black;
}

.actualite-num .actu_texte ul{
    padding-left: 5%;
}

.actualite-num .classImg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.actualite-num .classImg div{
    width: 100%;
    padding: 0.2%;
    margin: 1% auto;
    text-align: center;
}

.actualite-num .classImg img{
    width: 100%;
}

.lien_reseaux-num{
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 1%;
    top: 70%;
    width: 7vw;
}

.lien_reseaux-num div{
    width: 100%;
    margin: 10% 0;
}

.lien_reseaux-num div a{
    display: flex;
    flex-direction: row;
    align-items: center;

    background-image: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .4s ease-out;
}

.lien_reseaux-num div:nth-child(1) a{
    background-image: linear-gradient(to right, rgb(60, 90, 153) 50%, white 50%);
}

.lien_reseaux-num div:nth-child(2) a{
    background-image: linear-gradient(to right, rgb(0, 123, 182) 50%, white 50%);
}

.lien_reseaux-num div a:hover{
    background-position: left bottom;
}

.lien_reseaux-num div a img{
    width: 30%;
    background-color: transparent;
}

.lien_reseaux-num div:nth-child(1) a span{
    background-color: transparent;
    color: white;
    text-align: center;width: 5vw;
}

.lien_reseaux-num div:nth-child(2) a span{
    background-color: transparent;
    color: white;
    text-align: center;width: 5vw;
}

.lien_reseaux-num div a span{
    background-color: transparent;
    color: white;
    text-align: center;width: 5vw;
}

.lienFormation-num{
    position: fixed;
    color: black;
    left: 5%;
    top: 25%;
    width: 17vw;
    border-radius: 10px;
}

.lienFormation-num a{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.lienFormation-num a img{
    width: 50%;
    padding-right: 2%;
}

.partagerReseaux{
    display: none;
}

.editActu{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 22%;
    top: 50%;
    height: 10vh;
}

.editActu div a{
    border: 1px solid var(--blue-color);
    border-radius: 10px;
    height: 4vh;
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width:960px){


    .option_actu{
        display: none;
    }

    .actualites{
        margin: 5% 1%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .actualite{
        width: 90%;
        margin: 3% auto;
    }


    .actualite .img_actu img{
        width: 50vw;
        margin: auto;
    }

    .actualite .actu_titre{

    }

    .actualite .publication{

    }

    .actualite .actu_desc{

    }




    .info_actu{
        position: relative;
        top: 0;
        right: 0;
        width: 90%;
        margin: 0 auto 3%;
        height: 55vh;
    }

    .info_actu_titre span:nth-child(1){

    }

    .info_actu_titre span:nth-child(2){

    }

    .info_actu div:first-child a, .buttonActu button{

    }

    .input_checkbox label{

    }

    .acceptForm{

        margin: 2% 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: justify;
    }

    .acceptForm input{
        width: 30%;
        margin: 0 1%;
    }


    .actualites-num{
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .actualite-num .classImg img{
        width: 50%;
    }
    .actualite-num .actu_titre{


    }

    .actualite-num .publication{

    }

    .actualite-num .actu_desc{

        width: 100%;
    }

    .actualite-num .actu_texte{
        width: 100%;
        margin: auto;
        color: black;
        text-align: justify;
    }

    .lien_reseaux-num{
        display: none;
    }

    .lienFormation-num{
        position: relative;
        left: 0;
        top: 0;
        width: 93%;
        margin: 2% auto 0;
    }

    .lienFormation-num a{
        display: flex;
        flex-direction: row;
        align-items: center;

        text-align: center;
        padding: 1%;
    }

    .lienFormation-num a img{
        width: 20%;
        padding-right: 2%;
    }


    .partagerReseaux{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}