






.juriste a:hover{
    background-color: white;
    color:  var(--blue-color);
    border-color: var(--blue-color);
    font-weight: bold;
}

.newsletter .actu-checkbox{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



