
.modal_cookies {
    display: none;
    justify-content: end;
    align-items: flex-end;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal_cookies-header {
    padding: 2px 16px;
    background-color: var(--blue-color);
    color: white;
}

.modal_cookies-body {padding: 2px 16px;}

.modal_cookies-footer {
    padding: 2px 16px;
    background-color: var(--blue-color);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal_cookies-footer div{
    margin: 0 2%;
    cursor: pointer;
}

.modal_cookies-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.6s;
}

/* Add Animation */
@keyframes animatetop {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

.modal_basique{
    display: none; 	position: fixed;
    z-index: 1;
    padding: 1.5% 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content_basique {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.close_basique {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_basique:hover,
.close_basique:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:960px){
    .modal_cookies-content{ width: 90%; }
}




/* contact fixe tel */

.contact_fixe_tel{
    display: none;
    flex-direction: row;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.contact_fixe_tel a{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vh;
}


.contact_fixe_tel a:nth-child(1){
    background-image: url("/img/png/facebook.png");
}
.contact_fixe_tel a:nth-child(2){
    background-image: url("/img/png/mail.png");
}
.contact_fixe_tel a:nth-child(3){
    background-image: url("/img/png/tel_sans_cadre.png");
}



@media screen and (max-width:960px){
    .contact_fixe_tel{
        display: flex;
    }
}






