:root{
    --blue-color: rgb(37, 76, 141);
    --blue-color-l: rgba(37, 76, 141, 0.05);
    --red-color: rgb(217, 8, 20);
    --red-color-l: rgba(217, 8, 20, 0.5);
    --pink-color: rgb(220, 25, 169);

}





.enteteFormation{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

.enteteFormation .titreEntete{
    padding: 17% 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enteteFormation .entete_1{
    color: white;
    letter-spacing: 2px;
    text-align: center;
    background-color: var(--blue-color);
    width: 35em;
    padding: 1% 2%;
    border-radius: 20px;
}

.enteteFormation .image_top_texte{
    color: var(--blue-color);
    text-align: justify;
    width: 85%;
    padding: 5% 0 1%;
    margin: auto;
}

.enteteFormation .textEntete{
    background-color: white;
    padding: 1% 2%;
    border-radius: 30px;
}


.flexOne{       flex: 1;    }
.flexTwo{       flex: 2;    }
.flexThree{     flex: 3;    }
.flexFour{      flex: 4;    }
.flexFive{      flex: 5;    }
.flexSix{       flex: 6;    }
.flexEight{     flex: 8;    }
.flexNine{      flex: 9;    }
.flexTen{       flex: 10;   }





.modal_cookies {
    display: none;
    justify-content: end;
    align-items: flex-end;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal_cookies-header {
    padding: 2px 16px;
    background-color: var(--blue-color);
    color: white;
}

.modal_cookies-body {padding: 2px 16px;}

.modal_cookies-footer {
    padding: 2px 16px;
    background-color: var(--blue-color);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.modal_cookies-footer div{
    margin: 0 2%;
    cursor: pointer;
}

.modal_cookies-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.6s;
}

/* Add Animation */
@keyframes animatetop {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

.modal_basique{
    display: none; 	position: fixed;
    z-index: 1;
    padding: 1.5% 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content_basique {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.close_basique {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_basique:hover,
.close_basique:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:960px){
    .modal_cookies-content{ width: 90%; }
}








/* Animation*/
.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.js-scroll.scrolled {
    opacity: 1;
}


/* Fade du bas vers le haut */
.scrolled.fade-in-bottom{
    animation: fade-in-bottom 0.8s ease-in-out both;
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/* Fade de la droite vers la gauche */
.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(-70px);
        transform: translateX(-70px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes scaling{
    from {
        transform: scale(1);
    }

    to{
        transform: scale(1.05);
    }
}


/*contact bas de page*/

.contact_organisme{
    border: 5px solid var(--blue-color);
    margin: 2%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.organisme_texte{
    width: 55%;
    text-align: end;
    padding: 1%;
}

.organisme{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bot_contact{
    background-color: var(--blue-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.bot_contact div{
    color: white;
    width: 90%;
    margin: auto;
    padding: 0.3% 0;
}

.bot_contact div:first-child{
    font-size: 25px;
    letter-spacing: 3px;
}

.bot_contact a{
    color: white;
}

@media screen and (max-width:960px){


}


/* contact fixe tel */

.contact_fixe_tel{
    display: none;
    flex-direction: row;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

.contact_fixe_tel a{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3vh;
}


.contact_fixe_tel a:nth-child(1){
    background-image: url("/img/png/facebook.png");
}
.contact_fixe_tel a:nth-child(2){
    background-image: url("/img/png/mail.png");
}
.contact_fixe_tel a:nth-child(3){
    background-image: url("/img/png/tel_sans_cadre.png");
}



@media screen and (max-width:960px){
    .contact_fixe_tel{
        display: flex;
    }
}






