

// Bootstrap
@import "~bootstrap/scss/bootstrap";

h1{
  color: white;
}

.card-header:first-child {
  text-transform: uppercase;
  color: white;
  border-radius: 1.5rem 1.5rem 0 0;
}

.card-footer:last-child{
  border-radius:0 0 1.5rem 1.5rem ;
}

.rounded-4{
  border-radius: 0.35rem !important;
}
.rounded-5{
  border-radius: 0.4rem !important;
}
.rounded-6{
  border-radius: 0.45rem !important;
}
.rounded-7{
  border-radius: 0.5rem !important;
}
.rounded-8{
  border-radius: 0.55rem !important;
}
.rounded-9{
  border-radius: 0.6em !important;
}
.rounded-10{
  border-radius: 0.65rem !important;
}