:root{
    --immo-bleu-colorn: rgb(93, 169, 221);
    --immo-bleu-colord: rgb(147, 190, 230);
    --immo-bleu-colordo: rgba(147, 190, 230, 0.3);
    --immo-bleu-colorno: rgba(93, 169, 221, 0.3);
}

 .div{
    width: 80%;
    margin: 1% auto;
}

 .div:last-child{
     background-color: var(--immo-bleu-colorno);
 }

.div:last-child div:first-child{
    text-align: center;
    text-indent: 0;
}

 .div div:not(:first-child){
     font-size: 0.8vw;
     padding: 1%;
 }

main .titre{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    text-align: center;
}

main .titre div:first-child{
    width: 60%;
    margin: auto;
}

main h1{
    padding: 0;
    margin: 0;
    color: var(--immo-bleu-colord);
    font-weight: normal;
    font-size: 1.6vw;
}

main h2{
    padding: 0;
    margin: 0;
    background-color: var(--immo-bleu-colord);
    color: white;
    font-size: 1.6vw;
}

main h3{
    padding: 0;
    margin: auto;
    color: var(--immo-bleu-colord);
    font-size: 1.2vw;
    text-indent: -1vw;
}

.alias{
    position: absolute;
    right: 5%;
    top: 20%;
    width: 5%;
    text-align: center;
}

.programme{
    background-color: var(--immo-bleu-colordo);
}

.programme div:first-child{
    width: 50%;
    margin: auto;
    text-align: center;
}