.enteteFormation{
    background-image: url("/img/formation/entreprise/entreprise_frise.jpeg");
}

.enteteFormation .entete_1 span:nth-child(1){
    color: var(--entre-1-color);
    background-color: white;
}

.enteteFormation .entete_1 span:nth-child(2){
    background-color: var(--entre-1-color);
}


