.stages_presentation{
    color: var(--blue-color);
    font-size: 25px;
    text-align: center;
    margin: auto;
}

.box_formation_propose{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: auto;
}

.formation_propose{
    width: 24em;
    margin: 1%;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-between;
}


.formation_propose_header{
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1%;
    z-index: 2;
    border-radius: 20px 20px 0 0;
}

.formation_propose_header_titre_1{
    font-size: 26px;
    letter-spacing: 1px;
    padding: 1%;
    text-transform: uppercase;
}

.formation_propose_header_titre_2{
    margin: auto auto 2%;
    padding: 1%;
    text-transform: uppercase;
}

.alias{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 15px;
}

.formation_propose_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: -2% 0.7% 0;
    padding: 0 2%;
    background-color: white;
    height: 100%;
}

.formation_propose_body ul{
    margin: 0 2% 0 0;
}


.formation_propose_body div:first-child{
    z-index: 5;
}

.formation_propose_body .flexEight, .formation_propose_body .flexThree{
    width: 100%;
}

.formation_propose_titre_section{
    text-align: center;
    color: white;
    width: 40%;
    margin: auto;
    padding: 0.5% 0;
    border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
}

.formation_propose_contenu, .formation_propose_duree{
    text-align: justify;
    padding: 4% 3%;
    margin: auto;

}

.formation_propose_duree{
    color: var(--red-color);
    font-size: 23px;
    text-align: center;
}

.formation_propose_contenu ul{
    padding-left: 7%;
}

.formation_propose_informations{
    width: 100%;
    text-align: center;
    margin: 5% auto;
    font-size: 16px;
}

.formation_propose_informations a{
    padding: 1% 2%;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    text-align: center;
    border: 2px solid white;
}

.formation_propose_footer{
    width: 100%;
    text-align: center;
    border-radius:  0  0 20px 20px;
}

.formation_propose_footer_prix{ padding-bottom: 2%; }

.formation_propose_triangle{
    display : inline-block;
    margin-top: -1%;
    width : 0;
    border-right : 35px solid transparent;
    border-left : 35px solid transparent;
    border-top:  28px solid white;
}

.formation_propose_prix{
    font-size: 40px;
    margin: 2%;
    color: white;
    border-radius:  0  0 20px 20px;
}

.formation_propose_inscription{ padding: 1% 0; }

.formation_propose_inscription a{
    padding: 0.5% 6%;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    font-size: 16px;
    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);
    font-weight: bold;
    transition: all .2s ease-out;
}

.formation_propose_inscription a:hover{
    background-color: white;
    color: var(--blue-color);
    border-color: var(--blue-color);
    font-weight: bold;
}

.formation_propose_lieu{
    display: flex;
    flex-direction: column;
    border-radius:  0  0 20px 20px;
    background-color: white;
}

.formation_propose_lieu_titre{
    border-radius: 20px;
    margin: 2% 36%;
    padding: 0.5% 0;
}

.formation_propose_lieu div:last-child{ margin-bottom: 2%; }


.tva{
    color: grey;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: auto auto 2%;
}


.lieu{
    width: 30%;
    margin: 1% auto;
    border: 2px solid var(--blue-color);
    border-radius: 10px;
}

.lieu_titre{
    background-color: var(--blue-color);
    border-radius: 15px;
    color: white;
    margin: -3% auto auto;
    width: 25%;
    text-align: center;
    font-size: 17px;
    padding: 0.5% 2%;

}

.lieu_emplacement{
    color: var(--red-color);
    text-align: center;
    margin: 3%;
}

.lieu_emplacement li{
    color: black;
    margin-left: 10%;
    text-align: left;
}




@media screen and (max-width:1230px) and (min-width: 200px){

    .lieu{
        width: 40%;
    }


}

