.enteteFormation{
    background-image: url("/img/formation/immobilier/immo_frise.png");

}

.enteteFormation .titreEntete{
    padding: 7% 0 9% 20%;
}



.enteteFormation .textEntete{
    display: flex;
    flex-direction: row;
}

.enteteFormation .textEntete div:first-child{
    padding-right: 2%;
}

.bas_de_page{
    width: 80%;
    margin: auto;
    padding: 1% 0;
    text-align: justify;
}


@media screen and (max-width:1220px) and (min-width: 200px){


}



