.enteteFormation{
    background-image: url("/img/formation/immobilier/immo_frise.png");

}

.enteteFormation .entete_1{
    margin: 13% 0 9% 15%;
}

.enteteFormation .entete_1 span:nth-child(1){
    color: var(--blue-color);
    background-color: white;
}

.enteteFormation .entete_1 span:nth-child(2){
    background-color: var(--blue-color);
}

.enteteFormation .entete_1 span:nth-child(3){
    background-color: var(--immo-bleu-colorn);
}

.enteteFormation  .image_top_texte_picto{
    background: url("/img/formation/immobilier/tarif_unique_350.png");
    background-size: 100% 100%;
    width: 10em;
    height: 10em;
    float: right;
    margin: -3% 0 0 2%;
}

.formation_propose:nth-child(3n + 1){
    background-color: var(--immo-bleu-colorn);
}

.formation_propose:nth-child(3n + 2){
    background-color: var(--immo-violet-colorn);
}

.formation_propose:nth-child(3n + 3){
    background-color: var(--immo-orange-colord);
}

.formation_propose:nth-child(3n + 1) .formation_propose_header,
.formation_propose:nth-child(3n + 1) .formation_propose_titre_section,
.formation_propose:nth-child(3n + 1) .formation_propose_footer{
    background-color: var(--immo-bleu-colord);
}

.formation_propose:nth-child(3n + 2) .formation_propose_header,
.formation_propose:nth-child(3n + 2) .formation_propose_titre_section,
.formation_propose:nth-child(3n + 2) .formation_propose_footer{
    background-color: var(--immo-violet-colord);
}

.formation_propose:nth-child(3n + 3) .formation_propose_header,
.formation_propose:nth-child(3n + 3) .formation_propose_titre_section,
.formation_propose:nth-child(3n + 3) .formation_propose_footer{
    background-color: var(--immo-orange-colord);
}

.formation_propose .formation_propose_body{
    background-color: white;
}


.formation_propose:nth-child(3n + 1) .formation_propose_contenu{
    color: var(--immo-bleu-colorn);
}

.formation_propose:nth-child(3n + 2) .formation_propose_contenu{
    color: var(--immo-violet-colorn);
}

.formation_propose:nth-child(3n + 3) .formation_propose_contenu{
    color: var(--immo-orange-colorn);
}


.formation_propose:nth-child(3n + 1) .formation_propose_informations a{
    background-color: var(--immo-bleu-colorn);
}

.formation_propose:nth-child(3n + 1) .formation_propose_informations a:hover{
    color: var(--immo-bleu-colorn);
    background-color: white;
    font-weight: bold;
}

.formation_propose:nth-child(3n + 2) .formation_propose_informations a{
    background-color: var(--immo-violet-colorn);
}

.formation_propose:nth-child(3n + 2) .formation_propose_informations a:hover{
    color: var(--immo-violet-colorn);
    background-color: white;
    font-weight: bold;
}

.formation_propose:nth-child(3n + 3) .formation_propose_informations a{
    background-color: var(--immo-orange-colorn);
}

.formation_propose:nth-child(3n + 3) .formation_propose_informations a:hover{
    color: var(--immo-orange-colorn);
    background-color: white;
    font-weight: bold;
}

.formation_propose .formation_propose_triangle{
    border-top-color: white;
}



.bas_de_page{
    width: 80%;
    margin: auto;
    padding: 1% 0;
    text-align: justify;
}



@media screen and (max-width:1220px) and (min-width: 200px){


}



