.enteteFormation{
    background-image: url("/img/formation/micro_entreprise/me_frise.png");
}

.enteteFormation .entete_1{
    margin: 17% 0 5% 25%;
}

.enteteFormation .entete_1 span:nth-child(1){
    color: var(--me-accomapagne-colorn);
    background-color: white;
}

.enteteFormation .entete_1 span:nth-child(2){
    background-color: var(--me-accomapagne-colorn);
}

.formation_propose:nth-child(3n + 1){
    background-color: var(--me-accomapagne-colorl);
}

.formation_propose:nth-child(3n + 2){
    background-color: var(--me-enligne-colorl);
}

.formation_propose:nth-child(3n + 1) .formation_propose_header,
.formation_propose:nth-child(3n + 1) .formation_propose_titre_section,
.formation_propose:nth-child(3n + 1) .formation_propose_footer{
    background-color: var(--me-accomapagne-colord);
}

.formation_propose:nth-child(3n + 2) .formation_propose_header,
.formation_propose:nth-child(3n + 2) .formation_propose_titre_section,
.formation_propose:nth-child(3n + 2) .formation_propose_footer{
    background-color: var(--me-enligne-colord);
}

.formation_propose:nth-child(3n + 1) .formation_propose_contenu{
    color: var(--me-accomapagne-colorn);
}

.formation_propose:nth-child(3n + 2) .formation_propose_contenu{
    color: var(--me-enligne-colorn);
}

.formation_propose:nth-child(3n + 1) .formation_propose_informations a{
    background-color: var(--me-accomapagne-colorn);
}

.formation_propose:nth-child(3n + 1) .formation_propose_informations a:hover{
    color: var(--me-accomapagne-colorn);
    background-color: white;
    font-weight: bold;
}

.formation_propose:nth-child(3n + 2) .formation_propose_informations a{
    background-color: var(--me-enligne-colorn);
}

.formation_propose:nth-child(3n + 2) .formation_propose_informations a:hover{
    color: var(--me-enligne-colorn);
    background-color: white;
    font-weight: bold;
}


.formation_propose:nth-child(3n + 1) .formation_propose_lieu{
    border: 4px solid var(--me-accomapagne-colord);
}

.formation_propose:nth-child(3n + 2) .formation_propose_lieu{
    border: 4px solid var(--me-enligne-colord);
}

.formation_propose:nth-child(3n + 1) .formation_propose_lieu_titre:nth-child(3n + 1){
    color: var(--me-accomapagne-colord);
    border: 2px solid var(--me-accomapagne-colord);
}

.formation_propose:nth-child(3n + 2) .formation_propose_lieu_titre:nth-child(3n + 1){
    color: var(--me-enligne-colord);
    border: 2px solid var(--me-enligne-colord);
}


