.enteteFormation{
    background-image: url("/img/formation/micro_entreprise/me_frise.png");
}

.enteteFormation .titreEntete{
    padding: 17% 0 3% 25%;
}

.enteteFormation .entete_1 {
    background-color: var(--me-1-color);
}

.enteteFormation .textEntete{
    border: 2px solid var(--me-1-color);
}



