.enteteFormation .entete_1{
    margin: 10% 20%;
    padding: 1% 2%;
    border-radius: 20px;
}

.js-scroll.fade-in-bottom:nth-child(2n + 1){
    background-color: var(--blue-color);
    color: white;
}

.js-scroll {
    padding: 2% 0;
    line-height: 1.5em;
}

