#body_view{
    background-image: none;
}

.enteteFormation{
    background-image: url("/img/entreprise/equipe/equipe_frise.png");
}

.enteteFormation .entete_1{
    margin: 25% 45% 2%;
    width: 50%;
}

.enteteFormation .entete_1 h1{
    background-color: var(--blue-color);
}

.enteteFormation .image_top_texte{
    margin: 4%  auto 0 auto;
}

#anthony, #lea, #jonathan{
    /*border: 1px solid black;*/
    position: absolute;
    cursor: pointer;
}

#anthony{
    padding: 8% 6.5%;
    top: 0;
    left: 8.8%;
}

#lea{
    padding: 6.8% 6%;
    top: 10%;
    left: 35.5%;
}

#jonathan{
    padding: 7.2% 6%;
    top: 0;
    left: 55.2%;
}

.nom{
    color: white;
    background-color: var(--red-color);
    padding: 1.5%;
    border-radius: 20px;
    margin: 1% 0 5%;
    width: 90%;
    font-size: 20px;
}

#info_equipe{
    background-color: var(--blue-color);
    border-radius: 20px;
    padding: 0.5%;
    width: 18%;
    right: 3%;
    top: 5%;
    position: absolute;
    display: none;
}

#info_equipe div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 18px;
}

@keyframes animate_top_equipe {
    from {opacity: 0}
    to {opacity: 1}
}






@media screen and (max-width:960px){

    #lea{
        top: 5.5%;
    }

    #prenom_anthony, #prenom_lea, #prenom_jonathan{
        font-size: 3vw;
        color: red;
    }

    #prenom_anthony{
        top: 30%;
        left: 4%;
    }

    #prenom_lea{
        top: 30%;
        left: 33%;
    }

    #prenom_jonathan{
        top: 30%;
        left: 60%;
    }

    #info_equipe{
        padding: 0.8%;
        width: 90%;
        right: 4%;
        top: 49%;
        z-index: 20;
    }

    #info_equipe div{
        font-size: 3vw;
        width: 100%;
    }

    .entete_1{
        text-align: center;
        font-size: 2.5vh;
        color: var(--blue-color);
        position: absolute;
        bottom: 55%;
        left: 40%;
    }

    .entete_bot{
        font-size: 1.4vh;
        color: black;
        width: 90%;
        margin: auto auto 10% auto;
        position: relative;
        bottom: 0;
        left: 0;
    }

}