#body_view{
    background-image: none;
}

.entete{
    position: relative;
}

.entete img{
    width: 100%;
}

#anthony, #lea, #jonathan{
    /*border: 1px solid black;*/
    position: absolute;
    cursor: pointer;
}

#anthony{
    padding: 8% 6.5%;
    top: 0;
    left: 8.8%;
}

#lea{
    padding: 6.8% 6%;
    top: 10%;
    left: 35.5%;
}

#jonathan{
    padding: 7.2% 6%;
    top: 0;
    left: 55.2%;
}

#prenom_anthony, #prenom_lea, #prenom_jonathan{
    position: absolute;
    color: white;
    display: none;
    font-size: 0.9vw;
}

#prenom_anthony{
    top: 53%;
    left: 20%;
}

#prenom_lea{
    top: 53%;
    left: 35%;
}

#prenom_jonathan{
    top: 53%;
    left: 64%;
}

#info_equipe{
    background-color: var(--blue-color);
    padding: 0.5%;
    width: 15%;
    right: 4%;
    top: 16%;
    position: absolute;
    display: none;
}

#info_equipe div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 0.9vw;
}

@keyframes animate_top_equipe {
    from {opacity: 0}
    to {opacity: 1}
}

.entete_1{
    position: absolute;
    bottom: 30%;
    left: 40%;
}

.entete_1 img{
    width: 18vw;
}

.entete_bot{
    font-size: 0.85vw;
    color: black;
    width: 75%;
    margin: auto;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.contact_organisme{
    border: 5px solid var(--blue-color);
    margin: -2.5% auto 1% auto;
    display: flex;
    flex-direction: row;
    z-index: 2;
    position: relative;
}

.bot_contact{
    background-color: var(--blue-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot_contact div{
    color: white;
    width: 90%;
    margin: auto;
}

.bot_contact_titre{
    font-size: 150%;
    letter-spacing: 3px;
    padding-top: 0.5%;
}

.bot_contact_text{
    font-size: 100%;
    padding: 0.5% 0;
}

.bot_contact_text div{
    padding: 1% 0;
}

.bot_contact_text a{
    color: white;
}

@media screen and (max-width:960px){

    #lea{
        top: 5.5%;
    }

    #prenom_anthony, #prenom_lea, #prenom_jonathan{
        font-size: 3vw;
        color: red;
    }

    #prenom_anthony{
        top: 30%;
        left: 4%;
    }

    #prenom_lea{
        top: 30%;
        left: 33%;
    }

    #prenom_jonathan{
        top: 30%;
        left: 60%;
    }

    #info_equipe{
        padding: 0.8%;
        width: 90%;
        right: 4%;
        top: 49%;
        z-index: 20;
    }

    #info_equipe div{
        font-size: 3vw;
        width: 100%;
    }

    .entete_1{
        text-align: center;
        font-size: 2.5vh;
        color: var(--blue-color);
        position: absolute;
        bottom: 55%;
        left: 40%;
    }

    .entete_bot{
        font-size: 1.4vh;
        color: black;
        width: 90%;
        margin: auto auto 10% auto;
        position: relative;
        bottom: 0;
        left: 0;
    }

}