.enteteFormation{
    background-image: url("/img/entreprise/Locaux/mtp_frise2.png");
}

.enteteFormation .titreEntete{
    padding: 5% 45% 5% 0;
}

.enteteFormation .image_top_texte div{
    padding: 14% 0 1% 45%;
}

@media screen and (max-width:960px){


}