.enteteFormation{
    background-image: url("/img/entreprise/Locaux/nimes_frise.png");
}

.enteteFormation .titreEntete{
    padding: 7% 40% 5% 0;
}

.enteteFormation .image_top_texte div{
    padding: 10% 0 1% 60%;
}


@media screen and (max-width:960px) {


}

